doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="/lib/jquery/dist/jquery.js")
        script(src="/lib/bootstrap/dist/js/bootstrap.min.js")
        link(rel='stylesheet', href="/lib/bootstrap/dist/css/bootstrap.min.css")
        script(src="/lib/angular/angular.js")
    body
        block content
